extends layout

block content
  .container
    h1 Asymmetric Cryptography Demo: #{__('Public / Private Keys')} &amp; #{__('Signing')} 
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Private_key_signing.svg/1024px-Private_key_signing.svg.png')
    br
    p.pull-right by 
      h6 Shubham Yadav
