extends layout

block content
  a(href='https://github.com/babe8901/asymmetric-cryptography/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Asymmetric Cryptography Demo: #{__('Public / Private Keys')} &amp; #{__('Signing')} 
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Private_key_signing.svg/1024px-Private_key_signing.svg.png')
    br
    p.pull-right by 
      h6 Mayanand Yadav 58
      h6 Neeraj Yadav 60
      h6 Shubham Yadav 62
      h6 Vipin Yadav 64
